version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - web-variables.env
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails server -b '0.0.0.0'"
    volumes:
      - .:/nyc_open_data
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - db
  db:
    image: postgres:17.6
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - ./tmp/db:/var/lib/postgresql/data